<ng-container *ngIf="roomDetail">
  <h2>Room {{ roomDetail.number }}</h2>
  <dx-box>
    <dxi-item [ratio]="1">
      <dx-list
        [height]="500"
        [dataSource]="customerList"
        [searchEnabled]="true"
        searchExpr="id"
        searchMode="contains"
        selectionMode="single"
        (onSelectionChanged)="listSelectionChanged($event)"
        [selectedItemKeys]="[customerList.id]"
      >
        <div *dxTemplate="let data of 'item'">
          <div>{{ data.id }}</div>
        </div>
      </dx-list>
    </dxi-item>
    <dxi-item [ratio]="5">
      <router-outlet></router-outlet>
    </dxi-item>
  </dx-box>
</ng-container>
