<ng-container *ngIf="roomDetail">
  <dx-toolbar>
    <dxi-item location="before" locateInMenu="auto">
      <dx-button
        icon="arrowleft"
        type="outline"
        text="To Room"
        hint="Navigate to Room List"
        (onClick)="navigateToRoom()"
      >
      </dx-button>
    </dxi-item>
    <dxi-item location="after" locateInMenu="auto">
      <dx-button
        icon="arrowright"
        type="outline"
        text="Schedule List"
        hint="Navigate to Schedule List"
        (onClick)="navigateToSchedule()"
      >
      </dx-button>
    </dxi-item>

    <dxi-item [location]="'center'" [text]="'Room ' + roomDetail.number">
    </dxi-item>
  </dx-toolbar>
  <div style="margin-left: 15px">
    <dx-box>
      <dxi-item [ratio]="1">
        <ng-container *ngIf="customerList">
          <dx-list
            [height]="'70vh'"
            [dataSource]="customerList"
            [searchEnabled]="true"
            searchExpr="fullName"
            searchMode="contains"
            selectionMode="single"
            (onSelectionChanged)="listSelectionChanged($event)"
            [selectedItemKeys]="[customerList._id]"
          >
            <div *dxTemplate="let data of 'item'">
              <div>{{ data?.fullName }}</div>
            </div>
          </dx-list>
        </ng-container>
      </dxi-item>
      <dxi-item [ratio]="6">
        <router-outlet name="conditionOutlet"></router-outlet>
      </dxi-item>
    </dx-box>
  </div>
</ng-container>
