<div class="container-fluid">
  <dxi-item itemType="group">
    <dxi-item
      itemType="group"
      caption="Personal Information"
      name="personalInformation"
    >
      <dxi-item
        dataField="age"
        [label]="{ text: 'Age' }"
        editorType="dxNumberBox"
      >
        <dxi-validation-rule
          type="required"
          message="Age is required"
        >
        </dxi-validation-rule>
        <dxi-validation-rule
          type="range"
          [min]="1"
          message="Invalid age!"
        ></dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="occupation"
        [label]="{ text: 'Occupation' }"
        editorType="dxTextBox"
      >
        <dxi-validation-rule
          type="required"
          message="Occupation is required"
        >
        </dxi-validation-rule>
        <dxi-validation-rule
          type="stringLength"
          message="Occupation cannot contain more than 25 letters!"
          [min]="1"
          [max]="25"
        >
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="address"
        [label]="{ text: 'Address' }"
        editorType="dxTextBox"
      >
        <dxi-validation-rule
          type="required"
          message="Address is required"
        >
        </dxi-validation-rule>
        <dxi-validation-rule
          type="stringLength"
          message="Address cannot contain more than 100 letters!"
          [min]="1"
          [max]="100"
        >
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="gender"
        [label]="{ text: 'Gender' }"
        editorType="dxSelectBox"
        [editorOptions]="{ items: ['Male', 'Female'], value: '' }"
      >
        <dxi-validation-rule
          type="required"
          message="Gender is required"
        >
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="bloodType"
        [label]="{ text: 'Blood Type' }"
        editorType="dxSelectBox"
        [editorOptions]="{ items: bloodType, value: '' }"
      ></dxi-item>
      <dxi-item
        dataField="height"
        [label]="{ text: 'Height' }"
        editorType="dxNumberBox"
      >
        <dxi-validation-rule
          type="required"
          message="Height is required"
        >
        </dxi-validation-rule>
        <dxi-validation-rule
          type="range"
          [min]="1"
          message="Invalid height!"
        ></dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="weight"
        editorType="dxNumberBox"
        [label]="{ text: 'Weight' }"
      >
        <dxi-validation-rule
          type="required"
          message="Weight is required"
        >
        </dxi-validation-rule>
        <dxi-validation-rule
          type="range"
          [min]="1"
          message="Invalid weight!"
        ></dxi-validation-rule>
      </dxi-item>
    </dxi-item>
  </dxi-item>
</div>
