<dx-toolbar [ngStyle]="{ paddingLeft: '25px', paddingRight: '25px' }">
  <dxi-item [location]="'before'" [text]="'Medical Checkups Management'">
  </dxi-item>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="arrowright"
      type="outline"
      text="Health Condition"
      hint="Navigate to Room Monitor"
      (onClick)="navigateToRoomMonitor()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
<dx-box>
  <dxi-item [ratio]="2">
    <p
      [ngClass]="{
        'sortable-header-animation': isPendingDragging === true,
        'sortable-header': isPendingDragging === false
      }"
    >
      Pending
    </p>
    <dx-toolbar>
      <dxi-item
        widget="dxTextBox"
        [options]="searchPendingBoxOptions"
        location="center"
        locateInMenu="auto"
      >
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="refreshPendingButtonOptions"
        location="center"
        locateInMenu="auto"
      >
      </dxi-item>
    </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [pulledDownText]="'...Fetching'"
        [showScrollbar]="true"
        [reachBottomText]="'Loading...'"
        [scrollByContent]="true"
        [height]="'45vh'"
        (onPullDown)="updatePendingTopContent($event)"
        (onReachBottom)="updatePendingBottomContent($event)"
        [scrollByThumb]="true"
      >
        <dx-sortable
          class="sortable-cards"
          group="cardsGroup"
          (onDragStart)="onTaskDragPendingStart($event)"
          (onDragEnd)="onDragPendingEnd($event)"
          (onReorder)="onTaskPendingReorder($event)"
          (onAdd)="onTaskPendingDrop($event)"
          [data]="pendingList"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of pendingList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.customerName }}</div>
              <div class="card-assignee">
                {{ item?.startDate | date: "fullDate" }}
              </div>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </dxi-item>
  <dxi-item [ratio]="2">
    <p
      [ngClass]="{
        'sortable-header-animation': isCompleteDragging === true,
        'sortable-header': isCompleteDragging === false
      }"
    >
      Complete
    </p>
    <dx-toolbar>
      <dxi-item
        widget="dxTextBox"
        [options]="searchCompleteBoxOptions"
        location="center"
        locateInMenu="auto"
      >
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="refreshCompleteButtonOptions"
        location="center"
        locateInMenu="auto"
      >
      </dxi-item>
    </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [pulledDownText]="'...Fetching'"
        [showScrollbar]="true"
        [reachBottomText]="'Loading...'"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="'45vh'"
        (onPullDown)="updateCompleteTopContent($event)"
        (onReachBottom)="updateCompleteBottomContent($event)"
      >
        <dx-sortable
          class="sortable-cards"
          group="cardsGroup"
          (onDragStart)="onTaskDragCompleteStart($event)"
          (onDragEnd)="onDragCompleteEnd($event)"
          (onReorder)="onTaskCompleteReorder($event)"
          (onAdd)="onTaskCompleteDrop($event)"
          [data]="completeList"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of completeList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.customerName }}</div>
              <div class="card-assignee">
                {{ item?.startDate | date: "fullDate" }}
              </div>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </dxi-item>
  <dxi-item [ratio]="7">
    <router-outlet></router-outlet>
  </dxi-item>
</dx-box>
<dx-speed-dial-action
  icon="like"
  label="Request Checkup"
  [index]="1"
  (onClick)="resetValues()"
>
</dx-speed-dial-action>
<dx-popup
  [width]="'95%'"
  [height]="'95%'"
  [showTitle]="true"
  [shading]="true"
  [title]="'Illness Diagnose'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
  [(visible)]="isDiagnosePopupVisible"
  [position]="'center'"
  [classList]="['popup']"
>
  <div *dxTemplate="let data of 'content'">
    <ng-container *ngIf="checkUpDetail">
      <app-diagnose-editor
        [doctorData]="doctorData"
        [checkUpDetail]="checkUpDetail"
      ></app-diagnose-editor>
    </ng-container>
  </div>
</dx-popup>
