@import "../../../dx-styles.scss";
:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1501;
}

.layout-body {
  flex: 1;
  min-height: 0;
}

.content {
  flex-grow: 1;
}
::ng-deep .dx-toast-custom {
  background-color: rgba(0, 0, 0, 0.322);
  color: #fff;
  backdrop-filter: blur(5px);
  text-shadow: $neon-light;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}
