<div
  style="
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    font-weight: bold;
    user-select: none;
  "
>
  <span> Patient Name: {{ checkUpDetail.customerName }} </span>
  <span> Symptons: {{ checkUpDetail.purpose }}</span>
  <span> Doctor Name: {{ doctorData.fullName }}</span>
</div>
<dx-box>
  <dxi-item [ratio]="2" [classList]="['kanban-list']">
    <p
      [ngClass]="{
        'sortable-header-animation': isMedicineDragging === true,
        'sortable-header': isMedicineDragging === false
      }"
    >
      Medicine
    </p>
    <dx-toolbar [classList]="['kanban-toolbar']">
      <dxi-item
        widget="dxTextBox"
        [options]="searchMedicineBoxOptions"
        location="center"
        locateInMenu="auto"
      >
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="refreshMedicineButtonOptions"
        location="center"
        locateInMenu="auto"
      >
      </dxi-item>
    </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [pulledDownText]="'...Fetching'"
        [showScrollbar]="true"
        [reachBottomText]="'Loading...'"
        [scrollByContent]="true"
        [height]="sortableHeight"
        (onPullDown)="updateMedicineTopContent($event)"
        (onReachBottom)="updateMedicineBottomContent($event)"
        [scrollByThumb]="true"
      >
        <dx-sortable
          class="sortable-cards"
          group="medicineGroup"
          (onDragStart)="onTaskDragMedicineStart($event)"
          (onDragEnd)="onDragMedicineEnd($event)"
          [data]="medicineList"
          [allowReordering]="false"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of medicineList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.name }}</div>
              <div class="card-assignee">
                {{ item?.effect }}
              </div>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </dxi-item>
  <dxi-item [ratio]="2" [classList]="['kanban-list']">
    <p
      [ngClass]="{
        'sortable-header-animation': isMedicineDragging === true,
        'sortable-header': isMedicineDragging === false
      }"
    >
      Diagnose Medicine
    </p>
    <dx-toolbar [classList]="['kanban-toolbar']"> </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [showScrollbar]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="sortableHeight"
      >
        <dx-sortable
          class="sortable-cards"
          group="medicineGroup"
          [data]="diagnoseMedicineList"
          (onAdd)="onTaskDiagnoseMedicineDrop($event)"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of diagnoseMedicineList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.name }}</div>
              <div class="card-assignee">
                {{ item?.effect }}
              </div>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </dxi-item>
  <dxi-item [ratio]="2" [classList]="['kanban-list']">
    <p
    [ngClass]="{
      'sortable-header-animation': isDiseaseDragging === true,
      'sortable-header': isDiseaseDragging === false
    }"
    >
    Disease
  </p>
  <dx-toolbar [classList]="['kanban-toolbar']">
    <dxi-item
      widget="dxTextBox"
      [options]="searchDiseaseBoxOptions"
      location="center"
      locateInMenu="auto"
    >
    </dxi-item>
    <dxi-item
      widget="dxButton"
      [options]="refreshDiseaseButtonOptions"
      location="center"
      locateInMenu="auto"
    >
    </dxi-item>
  </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [pulledDownText]="'...Fetching'"
        [showScrollbar]="true"
        [reachBottomText]="'Loading...'"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="sortableHeight"
        (onPullDown)="updateDiseaseTopContent($event)"
        (onReachBottom)="updateDiseaseBottomContent($event)"
      >
        <dx-sortable
          class="sortable-cards"
          group="diseaseGroup"
          [allowReordering]="false"
          (onDragStart)="onTaskDragDiseaseStart($event)"
          (onDragEnd)="onDragDiseaseEnd($event)"
          [data]="diseaseList"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of diseaseList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.name }}</div>
              <div class="card-assignee">
                {{ item?.description }}
              </div>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </dxi-item>
  <dxi-item [ratio]="2" [classList]="['kanban-list']">
    <p
      [ngClass]="{
        'sortable-header-animation': isDiseaseDragging === true,
        'sortable-header': isDiseaseDragging === false
      }"
    >
      Diagnose Disease
    </p>
    <dx-toolbar [classList]="['kanban-toolbar']"> </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [showScrollbar]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="sortableHeight"
      >
        <dx-sortable
          class="sortable-cards"
          group="diseaseGroup"
          [data]="diagnoseDiseaseList"
          (onAdd)="onTaskDiagnoseDiseaseDrop($event)"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of diagnoseDiseaseList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.name }}</div>
              <div class="card-assignee">
                {{ item?.description }}
              </div>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </dxi-item>
</dx-box>
<dx-toolbar>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="refresh"
      type="normal"
      text="Reset"
      hint="Revert changes"
      (onClick)="resetValues()"
    >
    </dx-button>
  </dxi-item>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="save"
      type="normal"
      text="Save"
      hint="Save diagnose changes"
      (onClick)="submitDiagnose()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
