<dx-scroll-view
  [bounceEnabled]="true"
  [scrollByContent]="true"
  [scrollByThumb]="true"
>
  <div class="img-container">
    <img src="../../../../../assets/imgs/favipiravir_1.png" alt="..." />
  </div>
  <form id="medicine-form-container" [classList]="['signupForm']">
    <dx-form id="medicine-form" [formData]="medicineData" [readOnly]="true">
      <dxi-item itemType="group" caption="Medicine Information">
        <dxi-item dataField="name" [label]="{ text: 'Name' }"> </dxi-item>
        <dxi-item dataField="brand" [label]="{ text: 'Brand' }"> </dxi-item>
        <dxi-item name="price">
          <dxo-label text="Price"></dxo-label>
          <div *dxTemplate>
            <div
              style="
                width: 100%;
                border-bottom: rgb(255, 255, 255) 2px dotted;
                font-size: large;
              "
            >
              {{ price }}
            </div>
          </div>
        </dxi-item>
        <dxi-item dataField="effect" [label]="{ text: 'Effect' }"> </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
</dx-scroll-view>
